@import "bourbon"
@import "banner"
@import "blockquote"
@import url(http://fonts.googleapis.com/css?family=Indie+Flower)
body
	margin: 0px
	font-family: sans-serif
	-webkit-font-smoothing: antialiased
.hcontain
	max-width: 1000px
	height: 144px
	margin: 0 auto
	display: block
	position: relative
header
	+linear-gradient(to top, #feb742, #fff2b4)
	width: 100%
	height: 144px
	position: relative
	.logo
		float: left
	.info
		position: absolute
		top: 55px
		letter-spacing: 2px
		right: 0px
		color: #910000
		font-weight: bold
		width: 250px
		text-align: right
	.social
		position: absolute
		top: 10px
		right: 10px
		svg 
			height: 27px
			width: 27px
			margin: 0 
			padding: 0
			display: inline-block
			vertical-align: middle
			cursor: pointer
		.donation
			a
				with: 100px
				height: 20px
				background-color: #910000
				padding: 6px 20px
				border-radius: 10px
				color: white
				text-decoration: none
				text-transform: uppercase
				webkit-box-shadow: 0 8px 6px -6px black
				-moz-box-shadow: 0 8px 6px -6px black
				box-shadow: 0 8px 6px -6px black
				font-size: 14px
				vertical-align: middle
				cursor: pointer

.mainnav
	background-color: #fecf80
	width: 700px
	height: 38px
	font-size: 13px
	font-family: "Arial"
	color: rgb( 116, 60, 37 )
	padding: 0px
	margin: 0px
	display: inline-block
	position: absolute
	right: 0px
	+border-top-radius(13px)
	bottom: -106px
	ul
		list-style-type: none
		padding: 0px 7px
		margin: 0px auto
		text-align: center
		+display(flex)
		li
			float: left
			+display(flex)
			text-align: center
			margin: 0 auto
			a 
				text-decoration: none
				+display(flex)
				color: black
				width: 100%
				height: 100%
				padding: 12px 18px
				text-align: center
				&:hover
					text-shadow: 0 0 .2px black, 0 0 .2px black, 0 0 .2px black
					&:before
						content: " "
						display: block
						position: absolute
						margin: 2px 0px 0px -15px
						background: url("heart.png") no-repeat
						float: left
						width: 11px
						height: 10px

.container
	display: flex
	z-index: 999
.bg2
	background: linear-gradient(to bottom, transparent 0%,rgba(102,0,0,1) 12%)
	background-position: center top
	background-repeat: no-repeat
	margin: 0px auto
	width: 100%
	top: 0px
	position: relative
	z-index: 9999999
.bg
	background-image: url("images/1.jpg")
	background-repeat: no-repeat
	background-position: center top
	margin: auto
	width: 100%
.staticslide
	position: absolute
	top: 200px !important
	background-size: cover !important
	height: 280px !important
*
	box-sizing: border-box
.slidemenu
	background-color: rgba( 92, 78, 66 , .5 )
	width: 1000px
	margin: -250px auto 0px auto
	padding: 3px 29px
	color: white
	font-family: 'Indie Flower', cursive
	font-size: 35px
	z-index: 99999
.main
	background-color: white
	position: relative  // or asolute? 
	width: 1000px
	margin: 0px auto 0px auto
	padding: 20px
	display: flex
	box-shadow: 0px 0px 9px 1.5px rgba(0,0,0,0.75)
	z-index: 999999
	.quotesign
		margin: 0px auto
		text-align: center
		display: table
		font-size: 18px
		font-family: sans-serif
		line-height: 1.2
		img
			vertical-align: middle
.left
	width: 35%
	.signup
		margin-bottom: 100px
		input
			width: 164px
			height: 25px
		button
			background-color: #feb742
			height: 25px
			border: none
			margin-top: -4px
			&:hover
				cursor: pointer
	.recent
		background-color: #910000
		height: 300px
		width: 345px
		margin-bottom: 20px
		padding: 20px
		color: white

.content
	padding: 0px 20px 20px 30px
	width: 65%
	h2
		font-family: 'Indie Flower', cursive
		padding-top: 0px
		font-size: 30px
	p 
		padding: 10px
		line-height: 2
		font-size: 16px
footer
	background-color: #feb742
	height: 223px
	width: 1000px
	margin: 0 auto
	display: flex
	justify-content: space-between
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	.fright
		text-align: right
		padding: 20px
		line-height: 1.30
		font-family: "Arial"
		img
			margin-bottom: -5px
	.footmenu
		padding: 20px
		list-style-type: none
		li 
			padding: 2.5px
			text-transform: uppercase
			font-family: "Arial"
			font-size: 12px
.top
	background-color: darken(#F5AB35, 10%)
	bottom: 2em
	color: #fff
	display: none
	opacity: 0.6
	padding: 1.5em 2em
	position: fixed
	right: 6em
	text-decoration: none
	z-index: 9999999999
	border: 1px solid black
	&:hover
		opacity: 1
		transition: 1s



.box-shadow-menu
	visibility: hidden
	position: relative
	padding-left: 1.25em
	position: fixed
	right: 20px
	top: 40px
	background-color: #feb742
	border-radius: 10px
	color: black
	padding: 10px
	padding-left: 20px
	z-index: 99999999
	border: 2px solid white
.box-shadow-menu:before
	content: ""
	position: absolute
	left: .25em
	top: 1em
	width: 1em
	height: 0.15em
	background: black
	box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black
.open 
	right:  0px !important

@media (max-width: 1000px)
	footer, .slidemenu
		width: 90%
	.main
		width: 90%
		flex-direction: column
		.lhshorse
			display: none
		.content
			width: 98%
		.left
			flex-direction: column
			margin: 0 auto
			text-align: center
			.recent
				width: 95%
			width: 95%
		.recent
			height: 190px
@media (max-width: 725px)
	.main
		.left
			flex-direction: column
			margin: 0 auto
			text-align: center
			.recent
				width: 95%
			width: 95%
@media only screen and (max-width: 765px)
	.box-shadow-menu
		visibility: visible
	.mainnav
		z-index: 999999999
		right: -165px
		top: 20px
		position: fixed
		width: 160px
		+transition
		ul
			+flex-direction(column)
			z-index: 999
			background-color: #fecf80
			border-radius: 10px
@media (max-width: 520px)
	.logo
		img
			+size(50%)
@media (max-width: 660px)
	#tagline
		font-size: 26px
@media (max-width: 550px)
	#tagline
		font-size: 20px
@media (max-width: 500px)
	#tagline
		font-size: 16px
@media (max-width: 440px)
	#tagline
		visibility: hidden
@media (max-width: 400px)
	.donation
		display: none
	.footmenu
		display: none
	footer
		.fright
			text-align: center

