@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
.content-box {
  position: relative;
  /* So we can position the banner within the box */
  background: gray;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#ribbon-container {
  position: absolute;
  top: 66px;
  left: -20px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */
  font-size: 17px;
  /* font-size and line-height must be equal so we can account for the height of the banner */
  line-height: 35px; }

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  right: -30px;
  border-top: 29px solid rgba(0, 0, 0, 0.3);
  /* These 4 border properties create the first part of our drop-shadow */
  border-bottom: 29px solid rgba(0, 0, 0, 0.3);
  border-left: 29px solid rgba(0, 0, 0, 0.3);
  border-right: 29px solid transparent; }

#ribbon-container:after {
  /* This adds the second part of our dropshadow */
  content: "";
  height: 3px;
  background: rgba(1, 1, 1, 0.3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 15px;
  right: 28px; }

#ribbon-container a {
  display: block;
  padding: 10px;
  position: relative;
  /* allows us to position our pseudo-elements properly */
  background: #5e4b3e;
  overflow: visible;
  height: 58px;
  margin-left: 0px;
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, Sans-Serif; }

#ribbon-container a:before {
  /* this creates the "folded" part of our ribbon */
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-top: 15px solid #7d6452;
  border-left: 15px solid transparent; }

#ribbon-container a:after {
  /* this creates the "forked" part of our ribbon */
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  right: -29px;
  border-top: 29px solid #5e4b3e;
  border-bottom: 29px solid #5e4b3e;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent; }

#ribbon-container a:hover {
  background: #3f322a; }

#ribbon-container a:hover:after {
  /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  border-top: 29px solid #3f322a;
  border-bottom: 29px solid #3f322a; }

#blockquote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: white;
  margin: 5px;
  background-image: url(openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  font-family: "Indie Flower", cursive;
  font-size: 20px; }

#blockquote span {
  display: block;
  background-image: url(closequote1.gif);
  background-repeat: no-repeat;
  background-position: bottom right; }

body {
  margin: 0px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased; }

.hcontain {
  max-width: 1000px;
  height: 144px;
  margin: 0 auto;
  display: block;
  position: relative; }

header {
  background-color: #feb742;
  background-image: -webkit-linear-gradient(bottom, #feb742, #fff2b4);
  background-image: linear-gradient(to top,#feb742, #fff2b4);
  width: 100%;
  height: 144px;
  position: relative; }
  header .logo {
    float: left; }
  header .info {
    position: absolute;
    top: 55px;
    letter-spacing: 2px;
    right: 0px;
    color: #910000;
    font-weight: bold;
    width: 250px;
    text-align: right; }
  header .social {
    position: absolute;
    top: 10px;
    right: 10px; }
    header .social svg {
      height: 27px;
      width: 27px;
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
    header .social .donation a {
      with: 100px;
      height: 20px;
      background-color: #910000;
      padding: 6px 20px;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer; }

.mainnav {
  background-color: #fecf80;
  width: 700px;
  height: 38px;
  font-size: 13px;
  font-family: "Arial";
  color: #743c25;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: absolute;
  right: 0px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  bottom: -106px; }
  .mainnav ul {
    list-style-type: none;
    padding: 0px 7px;
    margin: 0px auto;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .mainnav ul li {
      float: left;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      margin: 0 auto; }
      .mainnav ul li a {
        text-decoration: none;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        color: black;
        width: 100%;
        height: 100%;
        padding: 12px 18px;
        text-align: center; }
        .mainnav ul li a:hover {
          text-shadow: 0 0 0.2px black, 0 0 0.2px black, 0 0 0.2px black; }
          .mainnav ul li a:hover:before {
            content: " ";
            display: block;
            position: absolute;
            margin: 2px 0px 0px -15px;
            background: url("heart.png") no-repeat;
            float: left;
            width: 11px;
            height: 10px; }

.container {
  display: flex;
  z-index: 999; }

.bg2 {
  background: linear-gradient(to bottom, transparent 0%, #660000 12%);
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 100%;
  top: 0px;
  position: relative;
  z-index: 9999999; }

.bg {
  background-image: url("slider1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin: auto;
  width: 100%; }

* {
  box-sizing: border-box; }

.slidemenu {
  background-color: rgba(92, 78, 66, 0.5);
  width: 1000px;
  margin: -250px auto 0px auto;
  padding: 3px 29px;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 35px;
  z-index: 99999; }

.main {
  background-color: white;
  position: relative;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 9px 1.5px rgba(0, 0, 0, 0.75);
  z-index: 999999; }
  .main .quotesign {
    margin: 0px auto;
    text-align: center;
    display: table;
    font-size: 18px;
    font-family: sans-serif; }
    .main .quotesign img {
      vertical-align: middle; }

.left {
  width: 35%; }
  .left .signup {
    margin-bottom: 100px; }
    .left .signup input {
      width: 164px;
      height: 25px; }
    .left .signup button {
      background-color: #feb742;
      height: 25px;
      border: none;
      margin-top: -4px; }
      .left .signup button:hover {
        cursor: pointer; }
  .left .recent {
    background-color: #910000;
    height: 300px;
    width: 345px;
    margin-bottom: 20px;
    padding: 20px;
    color: white; }

.content {
  padding: 0px 20px 20px 30px;
  width: 65%; }
  .content h2 {
    font-family: "Indie Flower", cursive;
    padding-top: 0px;
    font-size: 28px; }
  .content p {
    padding: 10px;
    line-height: 2; }

footer {
  background-color: #feb742;
  height: 223px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  footer .fright {
    text-align: right;
    padding: 20px;
    line-height: 1.3;
    font-family: "Arial"; }
    footer .fright img {
      margin-bottom: -5px; }
  footer .footmenu {
    padding: 20px;
    list-style-type: none; }
    footer .footmenu li {
      padding: 2.5px;
      text-transform: uppercase;
      font-family: "Arial";
      font-size: 12px; }

.top {
  background-color: #eb950c;
  bottom: 2em;
  color: #fff;
  display: none;
  opacity: 0.6;
  padding: 1.5em 2em;
  position: fixed;
  right: 6em;
  text-decoration: none;
  z-index: 9999999999;
  border: 1px solid black; }
  .top:hover {
    opacity: 1;
    transition: 1s; }

.box-shadow-menu {
  visibility: hidden;
  position: relative;
  padding-left: 1.25em;
  position: fixed;
  right: 20px;
  top: 40px;
  background-color: #feb742;
  border-radius: 10px;
  color: black;
  padding: 10px;
  padding-left: 20px;
  z-index: 99999999;
  border: 2px solid white; }

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 1em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black; }

.open {
  right: 0px !important; }

@media (max-width: 1000px) {
  footer, .slidemenu {
    width: 90%; }

  .main {
    width: 90%;
    flex-direction: column; }
    .main .lhshorse {
      display: none; }
    .main .content {
      width: 98%; }
    .main .left {
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      width: 95%; }
      .main .left .recent {
        width: 95%; }
    .main .recent {
      height: 190px; } }
@media (max-width: 725px) {
  .main .left {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 95%; }
    .main .left .recent {
      width: 95%; } }
@media only screen and (max-width: 765px) {
  .box-shadow-menu {
    visibility: visible; }

  .mainnav {
    z-index: 999999999;
    right: -165px;
    top: 20px;
    position: fixed;
    width: 160px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    .mainnav ul {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      z-index: 999;
      background-color: #fecf80;
      border-radius: 10px; } }
@media (max-width: 520px) {
  .logo img {
    height: 50%;
    width: 50%; } }
@media (max-width: 660px) {
  #tagline {
    font-size: 26px; } }
@media (max-width: 550px) {
  #tagline {
    font-size: 20px; } }
@media (max-width: 500px) {
  #tagline {
    font-size: 16px; } }
@media (max-width: 440px) {
  #tagline {
    visibility: hidden; } }
@media (max-width: 400px) {
  .donation {
    display: none; }

  .footmenu {
    display: none; }

  footer .fright {
    text-align: center; } }
