@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
.content-box {
  position: relative;
  /* So we can position the banner within the box */
  background: gray;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

#ribbon-container {
  position: absolute;
  top: 66px;
  left: -20px;
  overflow: visible;
  /* so we can see the pseudo-elements we're going to add to the anchor */
  font-size: 17px;
  /* font-size and line-height must be equal so we can account for the height of the banner */
  line-height: 35px; }

#ribbon-container:before {
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 3px;
  right: -30px;
  border-top: 29px solid rgba(0, 0, 0, 0.3);
  /* These 4 border properties create the first part of our drop-shadow */
  border-bottom: 29px solid rgba(0, 0, 0, 0.3);
  border-left: 29px solid rgba(0, 0, 0, 0.3);
  border-right: 29px solid transparent; }

#ribbon-container:after {
  /* This adds the second part of our dropshadow */
  content: "";
  height: 3px;
  background: rgba(1, 1, 1, 0.3);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 15px;
  right: 28px; }

#ribbon-container a {
  display: block;
  padding: 10px;
  position: relative;
  /* allows us to position our pseudo-elements properly */
  background: #5e4b3e;
  overflow: visible;
  height: 58px;
  margin-left: 0px;
  color: #fff;
  text-decoration: none;
  font-family: Helvetica, Arial, Sans-Serif; }

#ribbon-container a:before {
  /* this creates the "folded" part of our ribbon */
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-top: 15px solid #7d6452;
  border-left: 15px solid transparent; }

#ribbon-container a:after {
  /* this creates the "forked" part of our ribbon */
  content: "";
  height: 0;
  width: 0;
  display: block;
  position: absolute;
  top: 0;
  right: -29px;
  border-top: 29px solid #5e4b3e;
  border-bottom: 29px solid #5e4b3e;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent; }

#ribbon-container a:hover {
  background: #3f322a; }

#ribbon-container a:hover:after {
  /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
  border-top: 29px solid #3f322a;
  border-bottom: 29px solid #3f322a; }

blockquote {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: white;
  margin: 5px;
  background-image: url(openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  font-family: "Indie Flower", cursive;
  font-size: 20px; }

blockquote span {
  display: block;
  background-image: url(closequote1.gif);
  background-repeat: no-repeat;
  background-position: bottom right; }

body {
  margin: 0px; }

header {
  background-color: #feb742;
  background-image: -webkit-linear-gradient(bottom, #feb742, #fff2b4);
  background-image: linear-gradient(to top,#feb742, #fff2b4);
  width: 100%;
  height: 144px;
  position: relative; }
  header .logo {
    float: left; }
  header .info {
    position: absolute;
    top: 55px;
    letter-spacing: 2px;
    right: 10px;
    color: #910000;
    font-weight: bold; }
  header .social {
    position: absolute;
    top: 10px;
    right: 10px; }
    header .social svg {
      height: 27px;
      width: 27px;
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
    header .social .donation a {
      with: 100px;
      height: 20px;
      background-color: #910000;
      padding: 6px 20px;
      border-radius: 10px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;
      font-size: 14px;
      vertical-align: middle;
      cursor: pointer; }

nav {
  background-color: #fecf80;
  max-width: 700px;
  height: 38px;
  font-size: 13px;
  font-family: "Arial";
  color: #743c25;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: absolute;
  right: 10%;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  bottom: 0px; }
  nav ul {
    list-style-type: none;
    padding: 0px 7px;
    margin: 0px;
    display: flex; }
    nav ul li {
      float: left;
      display: flex;
      text-align: center; }
      nav ul li a {
        text-decoration: none;
        display: flex;
        color: black;
        width: 100%;
        height: 100%;
        padding: 12px 15px;
        text-align: center; }
        nav ul li a:hover {
          text-shadow: 0 0 0.2px black, 0 0 0.2px black, 0 0 0.2px black; }

.container {
  display: flex; }

.bg2 {
  background: linear-gradient(to bottom, transparent 0%, #660000 23%);
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 100%;
  top: 0px;
  position: relative; }

.bg {
  background-image: url("slider1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin: auto;
  width: 100%; }

* {
  box-sizing: border-box; }

.slider {
  background-color: rgba(92, 78, 66, 0.5);
  width: 1000px;
  margin: 400px auto 0px auto;
  padding: 6px 29px;
  color: white;
  font-family: "Indie Flower", cursive;
  font-size: 26px; }

.main {
  background-color: white;
  position: relative;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 9px 1.5px rgba(0, 0, 0, 0.75); }

.left {
  width: 35%; }
  .left .signup {
    margin-bottom: 100px; }
    .left .signup input {
      width: 164px;
      height: 25px; }
    .left .signup button {
      background-color: #feb742;
      height: 25px;
      border: none;
      margin-top: -4px; }
      .left .signup button:hover {
        cursor: pointer; }
  .left .recent {
    background-color: #910000;
    height: 300px;
    margin-bottom: 20px;
    padding: 20px;
    color: white; }

.content {
  padding: 20px 20px 20px 30px;
  width: 65%; }
  .content h2 {
    font-family: "Indie Flower", cursive; }

footer {
  background-color: #feb742;
  height: 223px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  footer .fright {
    text-align: right;
    padding: 20px;
    line-height: 1.3;
    font-family: "Arial"; }
    footer .fright img {
      margin-bottom: -20px; }
  footer .footmenu {
    padding: 20px;
    list-style-type: none; }
    footer .footmenu li {
      padding: 2.5px;
      text-transform: uppercase;
      font-family: "Arial";
      font-size: 12px; }
